<div class="footer">
  <div class="bubbles">
    <div class="bubble" style="--size:4.177727349164718rem; --distance:6.463512477708827rem; --position:5.776826360625403%; --time:2.955257772451482s; --delay:-2.606409116472151s;"></div>
    <div class="bubble" style="--size:4.154569503380973rem; --distance:9.597456519073589rem; --position:71.20611496092937%; --time:3.7134488934713867s; --delay:-3.911728529942773s;"></div>
    <div class="bubble" style="--size:3.899670285099411rem; --distance:7.48041335418312rem; --position:89.52954514504795%; --time:3.3547792808704826s; --delay:-2.6093364315204997s;"></div>
    <div class="bubble" style="--size:5.227157201836977rem; --distance:8.573002412648346rem; --position:16.021293283714012%; --time:3.3412216305055815s; --delay:-3.5466502595002676s;"></div>
    <div class="bubble" style="--size:2.5404602526929594rem; --distance:7.824953831050059rem; --position:56.64430061775842%; --time:2.2713784808529005s; --delay:-3.81329352205052s;"></div>
    <div class="bubble" style="--size:4.733327575553306rem; --distance:8.033661732126081rem; --position:17.583667091470478%; --time:2.0099272056700603s; --delay:-2.7027424389701675s;"></div>
    <div class="bubble" style="--size:5.578503962025152rem; --distance:9.772602225706962rem; --position:85.78232593439924%; --time:3.2109340958262362s; --delay:-2.7494433134140785s;"></div>
    <div class="bubble" style="--size:5.173121478453591rem; --distance:7.053324147246196rem; --position:49.1237480047281%; --time:3.660194615007736s; --delay:-3.442827956614374s;"></div>
    <div class="bubble" style="--size:2.168423844330988rem; --distance:9.43235893875314rem; --position:0.7280677111163225%; --time:3.909968408315227s; --delay:-3.380654403547876s;"></div>
    <div class="bubble" style="--size:2.0224243508406534rem; --distance:6.6323516847189055rem; --position:35.35548809371476%; --time:2.9955880744245045s; --delay:-2.611894232071385s;"></div>
    <div class="bubble" style="--size:5.239849087580914rem; --distance:8.840195754183924rem; --position:66.02286531690197%; --time:3.219698798438836s; --delay:-3.583803165642703s;"></div>
    <div class="bubble" style="--size:2.1264674044012146rem; --distance:6.625227888361219rem; --position:67.28387457083409%; --time:3.6376977726850486s; --delay:-3.923755302693711s;"></div>
    <div class="bubble" style="--size:4.471662928272733rem; --distance:7.917681004349667rem; --position:43.58312419006281%; --time:3.647166931528322s; --delay:-3.666190019355037s;"></div>
    <div class="bubble" style="--size:4.624244034992156rem; --distance:6.235254521892617rem; --position:99.67266908593429%; --time:2.087021104727765s; --delay:-3.5336123080506847s;"></div>
    <div class="bubble" style="--size:2.2492002260145103rem; --distance:7.705128026422057rem; --position:7.31472067200114%; --time:3.360277860969728s; --delay:-2.861645904367031s;"></div>
    <div class="bubble" style="--size:2.7942518936659386rem; --distance:9.446821928082304rem; --position:34.1510996709113%; --time:2.9080457573279026s; --delay:-3.727264391439304s;"></div>
    <div class="bubble" style="--size:2.343558186320702rem; --distance:6.569991075557345rem; --position:61.48769778900696%; --time:3.1976795564819085s; --delay:-3.5467519220339807s;"></div>
    <div class="bubble" style="--size:4.951373994969072rem; --distance:8.428901617266863rem; --position:91.21732196473069%; --time:2.032902539393444s; --delay:-2.3637914557856936s;"></div>
    <div class="bubble" style="--size:5.822721894844947rem; --distance:8.126378689202904rem; --position:91.1234021243916%; --time:2.1213162766267244s; --delay:-2.578415537464776s;"></div>
    <div class="bubble" style="--size:4.767279126841138rem; --distance:9.577979147314103rem; --position:44.95380931620522%; --time:2.6490625773157848s; --delay:-3.1672262420845683s;"></div>
    <div class="bubble" style="--size:2.65909334339921rem; --distance:8.682510414911157rem; --position:102.53955759820975%; --time:2.767779636833189s; --delay:-3.3834262276826457s;"></div>
    <div class="bubble" style="--size:4.286787154213675rem; --distance:8.1264932962859rem; --position:37.98541000685842%; --time:3.1316703528118417s; --delay:-2.727503457855407s;"></div>
    <div class="bubble" style="--size:5.759964580468566rem; --distance:6.0493262681841475rem; --position:61.31646460157441%; --time:3.817050801515051s; --delay:-3.3977455498327473s;"></div>
    <div class="bubble" style="--size:5.8166564371820515rem; --distance:6.436122591170915rem; --position:90.8939446033683%; --time:2.8574852133197317s; --delay:-3.9615514967501153s;"></div>
    <div class="bubble" style="--size:2.9732616704399604rem; --distance:6.859807465884003rem; --position:8.444415267102844%; --time:3.052673025940929s; --delay:-2.9250881111863105s;"></div>
    <div class="bubble" style="--size:4.424223113319072rem; --distance:8.086912827105987rem; --position:7.053476707436751%; --time:2.2061888015848163s; --delay:-2.717285958793106s;"></div>
    <div class="bubble" style="--size:3.252757105230083rem; --distance:9.117181682048138rem; --position:46.03013597988327%; --time:2.7524351644775495s; --delay:-3.170267227361396s;"></div>
    <div class="bubble" style="--size:2.1360320992562185rem; --distance:8.50170766821504rem; --position:86.83367177853988%; --time:2.1801539386373836s; --delay:-2.040171332263198s;"></div>
    <div class="bubble" style="--size:4.336318268769256rem; --distance:7.563162782527658rem; --position:35.025724672274315%; --time:3.302978187725373s; --delay:-2.432538700044292s;"></div>
    <div class="bubble" style="--size:2.713301532409875rem; --distance:6.16226151697372rem; --position:102.60935011489757%; --time:2.2827734539618523s; --delay:-3.7270200283411894s;"></div>
    <div class="bubble" style="--size:5.052864183419201rem; --distance:6.352709310115511rem; --position:11.792941614125152%; --time:3.2615465083959534s; --delay:-2.0803300255455035s;"></div>
    <div class="bubble" style="--size:3.0877380048564325rem; --distance:8.693740315176143rem; --position:53.39778629519292%; --time:3.9742374040568125s; --delay:-2.532988130476278s;"></div>
    <div class="bubble" style="--size:3.4324478565712937rem; --distance:7.244732529364704rem; --position:17.89263657248235%; --time:2.181624514814576s; --delay:-2.7438999388848706s;"></div>
    <div class="bubble" style="--size:2.876971453712395rem; --distance:8.940227916848531rem; --position:72.11658284993956%; --time:3.898494001790022s; --delay:-3.0797690845085697s;"></div>
    <div class="bubble" style="--size:4.6929773491394675rem; --distance:8.977525519001292rem; --position:81.23216079194992%; --time:3.3039438284752123s; --delay:-3.686432772858501s;"></div>
    <div class="bubble" style="--size:3.220667956673026rem; --distance:7.63631341137432rem; --position:28.85040579448173%; --time:3.464324143776212s; --delay:-2.8043586196028825s;"></div>
    <div class="bubble" style="--size:4.948177518711362rem; --distance:7.97293550543849rem; --position:28.027618063495915%; --time:3.9963023188724742s; --delay:-2.7238864749215677s;"></div>
    <div class="bubble" style="--size:2.5588796155817803rem; --distance:6.710248146383826rem; --position:40.195189061602036%; --time:3.776463962416292s; --delay:-3.0468752803297505s;"></div>
    <div class="bubble" style="--size:4.543716802606313rem; --distance:8.21289475527194rem; --position:66.7385958580543%; --time:2.1251719550388612s; --delay:-2.6229448256120222s;"></div>
    <div class="bubble" style="--size:3.043828065443405rem; --distance:6.007843520392028rem; --position:68.51128462176469%; --time:3.2507639038865395s; --delay:-3.295385523475761s;"></div>
    <div class="bubble" style="--size:3.2251502494247886rem; --distance:7.607678676516487rem; --position:84.49379049562434%; --time:2.982285211885683s; --delay:-2.766847804032396s;"></div>
    <div class="bubble" style="--size:3.769029346559279rem; --distance:6.754976338345573rem; --position:50.31742373681424%; --time:2.6665172332309672s; --delay:-3.7617624294233387s;"></div>
    <div class="bubble" style="--size:4.179771064431564rem; --distance:6.560779709164013rem; --position:22.568016029874016%; --time:3.8225044110321225s; --delay:-3.784981084133517s;"></div>
    <div class="bubble" style="--size:2.327385473635931rem; --distance:7.247645257628038rem; --position:76.16560454418185%; --time:3.9429199803142447s; --delay:-3.090268328642826s;"></div>
    <div class="bubble" style="--size:5.486504398509436rem; --distance:7.369998937481359rem; --position:33.267676833339635%; --time:3.949647656813639s; --delay:-3.549654341165947s;"></div>
    <div class="bubble" style="--size:4.1432975362898095rem; --distance:6.980293962739746rem; --position:26.25316973231652%; --time:2.4099186085850097s; --delay:-3.4320990550736s;"></div>
    <div class="bubble" style="--size:2.9649413804794404rem; --distance:6.963437421525122rem; --position:80.6752366454583%; --time:3.8603460982736464s; --delay:-3.561828358642813s;"></div>
    <div class="bubble" style="--size:2.359247801911387rem; --distance:8.633582341665825rem; --position:-3.595231616353969%; --time:2.5356910073665473s; --delay:-3.9217008819651116s;"></div>
    <div class="bubble" style="--size:4.266460955886158rem; --distance:8.988007954877013rem; --position:20.291623948480147%; --time:3.7666083348729793s; --delay:-3.4726770860022556s;"></div>
    <div class="bubble" style="--size:5.706205225686463rem; --distance:6.119709652118328rem; --position:59.69770232433626%; --time:3.9770170265920823s; --delay:-3.9531289503184857s;"></div>
    <div class="bubble" style="--size:2.019949924725389rem; --distance:8.827294498135531rem; --position:4.89262888165058%; --time:3.6204421103094298s; --delay:-3.8271720870974226s;"></div>
    <div class="bubble" style="--size:2.0355277746886866rem; --distance:7.426645608448228rem; --position:45.569387580814336%; --time:3.5379636084164976s; --delay:-3.7550843523838133s;"></div>
    <div class="bubble" style="--size:2.2006240648512154rem; --distance:8.141473482334163rem; --position:79.6747979948119%; --time:2.4336098390738603s; --delay:-3.3933621056748353s;"></div>
    <div class="bubble" style="--size:4.479608109981726rem; --distance:6.959925684198787rem; --position:-2.4672637670299546%; --time:3.4895118532143403s; --delay:-2.2262949121495765s;"></div>
    <div class="bubble" style="--size:4.027393884257752rem; --distance:9.138212840886727rem; --position:51.14703268153272%; --time:3.238988359357187s; --delay:-2.7884169750272596s;"></div>
    <div class="bubble" style="--size:2.075684544903581rem; --distance:9.924499323766785rem; --position:79.56077998252995%; --time:3.0634288117263666s; --delay:-2.8849671460451014s;"></div>
    <div class="bubble" style="--size:3.860255983359102rem; --distance:9.37432089771147rem; --position:40.08829664842374%; --time:2.381308689556828s; --delay:-2.2330768759899526s;"></div>
    <div class="bubble" style="--size:3.00469466548531rem; --distance:9.6443227318025rem; --position:22.797730021670162%; --time:3.056807799995485s; --delay:-3.240854584728977s;"></div>
    <div class="bubble" style="--size:3.1111676069884515rem; --distance:6.622460838632975rem; --position:90.60958287286066%; --time:3.5997961066403326s; --delay:-2.398061067534602s;"></div>
    <div class="bubble" style="--size:3.4771602763503457rem; --distance:6.057963102706649rem; --position:71.17013354403534%; --time:2.038949659143231s; --delay:-3.1527769921481497s;"></div>
    <div class="bubble" style="--size:5.2749039063506356rem; --distance:6.090819015822019rem; --position:85.97162883101599%; --time:2.506230971501319s; --delay:-3.2630031582131793s;"></div>
    <div class="bubble" style="--size:2.905926631043041rem; --distance:7.190961756571549rem; --position:6.091235450434173%; --time:2.5909309669688367s; --delay:-2.970404906526818s;"></div>
    <div class="bubble" style="--size:5.5628294117115065rem; --distance:8.177805459725107rem; --position:7.95401914894898%; --time:2.6500932634331478s; --delay:-2.595895530037267s;"></div>
    <div class="bubble" style="--size:3.1310445500059965rem; --distance:6.1104178650467365rem; --position:55.50704085029017%; --time:3.7703250435722517s; --delay:-2.2028256577795493s;"></div>
    <div class="bubble" style="--size:4.289642054392554rem; --distance:6.716249299527047rem; --position:30.739526939271016%; --time:3.5808319343613926s; --delay:-2.3639830871359964s;"></div>
    <div class="bubble" style="--size:4.023967931560453rem; --distance:6.396421295131841rem; --position:51.469958057420634%; --time:3.430549425223066s; --delay:-2.846083246388258s;"></div>
    <div class="bubble" style="--size:3.503229967120551rem; --distance:7.621469221534403rem; --position:92.7180931835837%; --time:3.7557102181883937s; --delay:-3.021257997872934s;"></div>
    <div class="bubble" style="--size:2.061317626263876rem; --distance:8.94570982050911rem; --position:88.40884612126324%; --time:3.858880884982531s; --delay:-2.9211516989337714s;"></div>
    <div class="bubble" style="--size:2.9759834528762426rem; --distance:7.280190993917478rem; --position:15.49354524255402%; --time:2.5913112665844262s; --delay:-3.3084387215617634s;"></div>
    <div class="bubble" style="--size:5.7522731366313335rem; --distance:7.168748433841531rem; --position:22.4163457411311%; --time:3.9438032040356834s; --delay:-2.412068594008478s;"></div>
    <div class="bubble" style="--size:3.961873386048457rem; --distance:8.224337472422675rem; --position:32.52987035381938%; --time:2.6316820474696563s; --delay:-2.020466093977255s;"></div>
    <div class="bubble" style="--size:3.748314495432062rem; --distance:6.947867069067241rem; --position:48.02700367567002%; --time:3.497973435081476s; --delay:-2.215638130260975s;"></div>
    <div class="bubble" style="--size:5.2095357949059045rem; --distance:9.945919592825431rem; --position:40.86884370581364%; --time:2.8774966955230092s; --delay:-3.3394767508067593s;"></div>
    <div class="bubble" style="--size:5.641276452988434rem; --distance:8.869552593443924rem; --position:3.6242416043198578%; --time:3.337706096984003s; --delay:-2.8004941580478335s;"></div>
    <div class="bubble" style="--size:4.310620961115649rem; --distance:9.576042207498055rem; --position:81.44371171831614%; --time:3.5827398071099643s; --delay:-2.9817501288611883s;"></div>
    <div class="bubble" style="--size:4.082140062930899rem; --distance:6.351060834942901rem; --position:98.9312985502269%; --time:3.041322084950908s; --delay:-2.0887056588576987s;"></div>
    <div class="bubble" style="--size:5.983782426050454rem; --distance:6.210335092980893rem; --position:21.781469397752712%; --time:2.3760366467910403s; --delay:-3.3402654286466014s;"></div>
    <div class="bubble" style="--size:4.682562917496194rem; --distance:9.400823044633189rem; --position:29.03853610967449%; --time:2.4847835680619674s; --delay:-2.0114935489921115s;"></div>
    <div class="bubble" style="--size:5.930544743284642rem; --distance:8.584397493979298rem; --position:87.6881300238769%; --time:3.383276168126648s; --delay:-2.1032436895691715s;"></div>
    <div class="bubble" style="--size:4.723606144019226rem; --distance:8.97989803144041rem; --position:80.50971183768287%; --time:2.5958841349432342s; --delay:-3.0337562701558114s;"></div>
    <div class="bubble" style="--size:4.875383108984713rem; --distance:6.046922801678662rem; --position:0.058173650829413504%; --time:2.4022524913029746s; --delay:-3.589397895884483s;"></div>
    <div class="bubble" style="--size:3.1044110034324275rem; --distance:8.552221384889613rem; --position:42.421191931375944%; --time:2.434907192947664s; --delay:-2.3203993895634047s;"></div>
    <div class="bubble" style="--size:4.491217855085872rem; --distance:7.489987330812629rem; --position:88.44471941968703%; --time:2.5431813631655196s; --delay:-3.3236525557709014s;"></div>
    <div class="bubble" style="--size:2.28384351498648rem; --distance:8.810592190652986rem; --position:27.034272086309436%; --time:3.335793573026958s; --delay:-2.556655801098375s;"></div>
    <div class="bubble" style="--size:5.3831964530767005rem; --distance:9.253489643330521rem; --position:88.65381597632388%; --time:2.3746109364995736s; --delay:-2.106319184989318s;"></div>
    <div class="bubble" style="--size:3.7457796592668178rem; --distance:8.098295637255877rem; --position:21.284184630166962%; --time:2.9189681548203943s; --delay:-2.367438412748024s;"></div>
    <div class="bubble" style="--size:2.0454460834170254rem; --distance:9.538159757048932rem; --position:74.372719272125%; --time:3.0913321538575893s; --delay:-3.3594423802941766s;"></div>
    <div class="bubble" style="--size:2.5845818535538116rem; --distance:7.97997711200365rem; --position:63.17479429826443%; --time:2.6355714064726947s; --delay:-3.6583767195370056s;"></div>
    <div class="bubble" style="--size:4.420199930632288rem; --distance:8.857113347359032rem; --position:85.57717556325812%; --time:3.7360088174589414s; --delay:-2.0550084005367384s;"></div>
    <div class="bubble" style="--size:4.122103251756158rem; --distance:9.970779178631103rem; --position:103.08440399958468%; --time:2.8361607628642926s; --delay:-3.0382859897042587s;"></div>
    <div class="bubble" style="--size:2.532092001146416rem; --distance:6.780109686822694rem; --position:18.626611941681332%; --time:3.5180959154455906s; --delay:-3.273407301238891s;"></div>
    <div class="bubble" style="--size:5.895132351478321rem; --distance:6.216540974428222rem; --position:-4.932822566434368%; --time:2.877668736170552s; --delay:-2.589042003364586s;"></div>
    <div class="bubble" style="--size:5.10166406203271rem; --distance:8.797667143696776rem; --position:6.771499831152465%; --time:2.1225027216414083s; --delay:-3.8368086813409836s;"></div>
    <div class="bubble" style="--size:4.629400396681668rem; --distance:7.422704265170205rem; --position:104.77789226304431%; --time:2.2398654769840696s; --delay:-2.6862546709563286s;"></div>
    <div class="bubble" style="--size:2.414257205846641rem; --distance:7.516788565140565rem; --position:62.01666670124837%; --time:2.2282063735838022s; --delay:-2.389980009902672s;"></div>
    <div class="bubble" style="--size:3.3978612230391763rem; --distance:9.282689442013709rem; --position:89.67434376124072%; --time:3.5968672653142346s; --delay:-2.30706029338281s;"></div>
    <div class="bubble" style="--size:2.2646903914519356rem; --distance:9.612328440977532rem; --position:89.89789229887877%; --time:3.204532297110112s; --delay:-3.528596287001239s;"></div>
    <div class="bubble" style="--size:5.5961235754792185rem; --distance:7.583212019618316rem; --position:39.79406846781464%; --time:3.08716095077473s; --delay:-3.992911126467068s;"></div>
    <div class="bubble" style="--size:5.306972815851007rem; --distance:7.684051169938799rem; --position:-3.8472902458631686%; --time:3.2496182831053577s; --delay:-2.7539978007519026s;"></div>
    <div class="bubble" style="--size:4.832883019437109rem; --distance:8.229717425047541rem; --position:5.039803884174168%; --time:3.773041124562822s; --delay:-2.5914201122844704s;"></div>
    <div class="bubble" style="--size:4.933283364357382rem; --distance:8.190061800420537rem; --position:56.73766364635517%; --time:2.0121424217148616s; --delay:-2.375862060346536s;"></div>
    <div class="bubble" style="--size:2.797312741334557rem; --distance:9.688421217870346rem; --position:33.969822819276594%; --time:3.6774121676704397s; --delay:-3.9464714547861783s;"></div>
    <div class="bubble" style="--size:4.036510314375492rem; --distance:9.774654647103313rem; --position:62.205967067153765%; --time:3.7143019946158726s; --delay:-2.739382052452487s;"></div>
    <div class="bubble" style="--size:5.1634179647016705rem; --distance:6.561080320225915rem; --position:3.8034139977839203%; --time:3.9852220505110663s; --delay:-3.72790937805074s;"></div>
    <div class="bubble" style="--size:5.6836899685904925rem; --distance:7.389094080857842rem; --position:66.95155843916635%; --time:2.2724644816113178s; --delay:-3.478158765150498s;"></div>
    <div class="bubble" style="--size:3.5759162810851413rem; --distance:9.204048672464047rem; --position:55.29514504958954%; --time:3.6536435065475783s; --delay:-3.965970907697168s;"></div>
    <div class="bubble" style="--size:3.84368294093687rem; --distance:7.570953329677225rem; --position:30.768694697009103%; --time:3.5304310212999814s; --delay:-3.274689007500304s;"></div>
    <div class="bubble" style="--size:4.104806375640636rem; --distance:9.544741524858146rem; --position:23.091123808883793%; --time:2.8387450658721547s; --delay:-3.8739535267466367s;"></div>
    <div class="bubble" style="--size:5.333655509840035rem; --distance:9.062444197888045rem; --position:53.5564170208256%; --time:2.3401800097887806s; --delay:-3.316379319594745s;"></div>
    <div class="bubble" style="--size:5.95155501192579rem; --distance:9.278904686222676rem; --position:36.63244527046311%; --time:2.451716312133698s; --delay:-3.8078693732182156s;"></div>
    <div class="bubble" style="--size:3.3747303658341847rem; --distance:8.066191771416538rem; --position:27.48880451518096%; --time:3.7169199179777292s; --delay:-2.6925029242250185s;"></div>
    <div class="bubble" style="--size:5.949379205041819rem; --distance:6.048249556621845rem; --position:53.912525302308694%; --time:2.6357655184583733s; --delay:-3.5067119827740107s;"></div>
    <div class="bubble" style="--size:3.4508522998201254rem; --distance:6.553722261344397rem; --position:22.116381859558693%; --time:3.6747512316412143s; --delay:-2.7959541200140534s;"></div>
    <div class="bubble" style="--size:2.7924716491865604rem; --distance:9.199993900216683rem; --position:23.4935570800352%; --time:3.4649289147994216s; --delay:-2.847808976920631s;"></div>
    <div class="bubble" style="--size:3.619369359018484rem; --distance:8.327798187471643rem; --position:92.53371087348398%; --time:3.128591407079537s; --delay:-2.6917770300260324s;"></div>
    <div class="bubble" style="--size:2.1525501035688803rem; --distance:6.529261798714389rem; --position:59.32495492766968%; --time:3.3294365687995606s; --delay:-2.298534894067907s;"></div>
    <div class="bubble" style="--size:3.4829472656439195rem; --distance:7.619829713290807rem; --position:31.306330792788494%; --time:3.3256079205036735s; --delay:-2.9588390657750114s;"></div>
    <div class="bubble" style="--size:2.73060941292068rem; --distance:8.462440389919871rem; --position:43.385119928369285%; --time:3.049113611964605s; --delay:-2.8052536414519014s;"></div>
    <div class="bubble" style="--size:2.016447485125312rem; --distance:7.000433039101143rem; --position:97.35734645098651%; --time:2.4290629856782715s; --delay:-2.913603466170419s;"></div>
    <div class="bubble" style="--size:4.726656877631019rem; --distance:6.4422849533108915rem; --position:63.57726448551939%; --time:2.0487214381999346s; --delay:-2.4074317640748126s;"></div>
    <div class="bubble" style="--size:5.795437695359022rem; --distance:6.435071880162417rem; --position:2.732827295085687%; --time:3.307583970460769s; --delay:-2.3623165122763066s;"></div>
    <div class="bubble" style="--size:3.1042765669024384rem; --distance:8.494256003627106rem; --position:74.70626252199328%; --time:3.5404093004266834s; --delay:-3.5277175306097543s;"></div>
    <div class="bubble" style="--size:5.742377715439944rem; --distance:8.952551158099075rem; --position:38.31122564606952%; --time:3.738865620143219s; --delay:-2.0575014921024035s;"></div>
    <div class="bubble" style="--size:5.040802052855714rem; --distance:7.359335696787091rem; --position:66.92317031811245%; --time:2.990754022541761s; --delay:-2.6995187999936365s;"></div>
    <div class="bubble" style="--size:2.9294300603435657rem; --distance:8.638669390564981rem; --position:23.09637791738306%; --time:3.033316953105727s; --delay:-3.0057712249601316s;"></div>
    <div class="bubble" style="--size:4.195601240689004rem; --distance:9.083804028841149rem; --position:77.48714873311489%; --time:2.496139829181225s; --delay:-3.464204843223415s;"></div>
    <div class="bubble" style="--size:3.9829707034090607rem; --distance:6.110988502578972rem; --position:17.720648421808868%; --time:2.0223792057064505s; --delay:-2.8408161081682883s;"></div>
    <div class="bubble" style="--size:2.7134496065233096rem; --distance:6.726374317902541rem; --position:11.97516116280578%; --time:2.887349479283255s; --delay:-2.2938417080200257s;"></div>
  </div>

  <div class="content">
    <div>
       <div>
        
        <a title='¡¡Haz click aqui!!' href="https://www.instagram.com/onstage.mgta?igsh=MWM2dzczcXJnOTQ3bQ=="><img class='imgRedSocial' src="/icon/instagram.png"></a> 
      
        <a title='¡¡Haz click aqui!!' href="https://Wa.me/+584123538503"><img class='imgRedSocial' src="/icon/whatsapp.png"></a>
      </div>

      <div>
          <img src="/icon/logo.png">
      </div>
    </div>
     
 <div>
   &copy; Copyright<strong> On Stage</strong> Todos los Derechos Reservados.
 </div>

  </div>
</div>
