<div class="footer">
  <div class="bubbles">


  <div class="content">
    <div>
       <div>
        
        <a title='¡¡Haz click aqui!!' href="https://www.instagram.com/onstage.mgta?igsh=MWM2dzczcXJnOTQ3bQ=="><img class='imgRedSocial' src="/icon/instagram.png"></a> 
      
        <a title='¡¡Haz click aqui!!' href="https://Wa.me/+584123538503"><img class='imgRedSocial' src="/icon/whatsapp.png"></a>
      </div>

      <div>
          <img src="/icon/logo.png">
      </div>
    </div>
     
 <div>
   &copy; Copyright<strong> On Stage</strong> Todos los Derechos Reservados.
 </div>

  </div>
</div>
