<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>On Stage</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/responsive.css">
</head>
<body>

	<header>
       
		<nav>
			<img src="/icon/logo.png">
		</nav>

		<div class='textoHeaders'>
			<p>SOMOS EXPERTOS EN HACER DE TUS
			EVENTOS UNA EXPERIENCIA INOLVIDABLE</p>

			<h1>ON STAGE</h1>

			<p>ESPECIALISTAS EN SONIDO,ILUMINACION
				,PANTALLAS DEL,TARIMA ,ESTRUCTURA Y
			TECHOS EN TRUSS</p>
		</div>
	</header>

	<section class='queEs'>
		<h2>¿QUE ES ON STAGE?</h2>

		<p>"On Stage" es una empresa dedicada a la producción de eventos y espectáculos en vivo.
			Fundada en 2016, la empresa se ha destacado por su excelencia en la creación y ejecución
			de experiencias únicas y memorables para sus clientes y audiencias. Con un equipo
		altamente capacitado y creativo.</p>
         <div class='sonido-button'>
         	<h2>SONIDO</h2>
         	<a href="/sonido" class='b' data-info='sonido' title='¡¡Haz click aqui!!'>Ver mas</a>
         </div>
	</section>

	<section class='sonidoFlores'>
		<img src="/sonido/sonido-01.png">
	</section>

	<section class="iluminacion">
		<h2>ILUMINACIÓN</h2>
		<a href="/iluminacion" class='b' data-info='iluminacion' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodas">
		<img src="/iluminacion/iluminacion-01.jpeg">
		<img src="/iluminacion/iluminacion-14.jpeg">
	</section>

	<section class="iluminacion">
		<h2>PANTALLAS LED</h2>
		<a href='/pantalla' class='b' data-info='pantalla' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class='pantallas-led'>
		<img src="/pantallas led/pantalla-14.jpeg">
	</section>

	<section class="iluminacion estructurA">
		<h2>ESTRUCTURAS</h2>
		<a href='/estructuras' class='b' data-info='estructura' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="estructura">
		<img src="/estructura/estructura-01.jpeg">
	</section>

	<section class="iluminacion techO">
		<h2>TECHO EN TRUSS</h2>
		<a href='/techo' class='b' data-info='techo' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="techo">
		<img src="/techo/techo-01.png">
	</section>


	<section class="tarima iluminacion">
		<h2>TARIMA</h2>
		<a href='/tarima' class='b' data-info='tarima' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="tarimA">
		<img src="/tarima/tarima-01.png">
	</section>

	<section class="iluminacion bodaS">
		<h2>BODAS</h2>
		<a href='/bodas' class='b' data-info='bodas' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/iluminacion/bodas/bodas-01.jpeg">
		<img src="/iluminacion/bodas/bodas-02.jpeg">
	</section>

	<section class="iluminacion poolParty">
		<h2>POOL PARTY</h2>
		<a href='/pool' class='b' data-info='pool' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="bodasContainer">
		<img src="/pool party/pool-01.jpg">
		<img src="/pool party/pool-02.jpg">
	</section>

	<section class="iluminacion conciertos">
		<h2>CONCIERTOS</h2>
		<a href='/conciertos' class='b' data-info='conciertos' title='¡¡Haz click aqui!!'>Ver mas</a>
	</section>

	<section class="conciertosContainer">
		<img src="/conciertos/conciertos-01.jpg">
		<img src="/conciertos/conciertos-02.png">
	</section>

    <section class="iluminacion videos">
		<h2>VIDEOS</h2>
	</section>

	<section class="video div1">
		
	</section>

	<section class="iluminacion contactanos">
		<h2>CONTACTANOS</h2>
	</section>

	<footer>

		<div>
		<a title='¡¡Haz click aqui!!' href="https://www.instagram.com/onstage.mgta?igsh=MWM2dzczcXJnOTQ3bQ=="><img class='imgRedSocial' src="/icon/instagram.png"></a>
		<a title='¡¡Haz click aqui!!' href="https://Wa.me/+584123538503"><img class='imgRedSocial' src="/icon/whatsapp.png"></a>	
		</div>
		
      <div>
        &copy; Copyright <strong>On Stage</strong>. Todos los Derechos Reservados.
      </div>

	</footer>
   <script type="text/javascript" src='/js/botones.js'></script>
   <script type="text/javascript" src='/js/insertIframe.js'></script>
</body>
</html>