<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sonido</title>
	<link rel="stylesheet" type="text/css" href="/css/galeria.css">
</head>
<body>
	<header>
		<h1>Galeria de Imagenes</h1>
		<a href='/'>Volver</a>
	</header>

<div class="container">
	<% sonido.forEach(imagen =>{ %>
 <img src="/sonido/<%=imagen%>">
<% }) %>
</div>

</body>
</html>