    * {
            box-sizing: border-box;
        }

        .slider-container {
            width:100%;
            height:100%;
            margin: 0 auto;
            position: relative;
            
        }

        .slider{
            position: relative;
            display:flex;
            transition: transform 0.5s ease;
            height:100% !important;
            width:100% !important;
           
        }
        .slide , .slid3,.slid33,.slid333,.slid3333{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .slide img , .slid3 img,.slid33 img, .slid333 img,.slid3333 img{
            width: 100%;
            height:100% !important;
            background-size: cover;
            background-position:center center;
            background-attachment: fixed;
        }
        
        .prev, .next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            padding: 10px;
            background: rgba(0, 0, 0, 0.5);
            color: #fff;
        }

        .prev {
            left: 0;
        }

        .next {
            right: 0;
        }